### 1:
passed: true
length: 4
binary_searches: 3
if_checks: 3
t= 18.6µs

### 2:
passed: true
length: 5
binary_searches: 5
if_checks: 5
t= 2.2µs

### 3:
passed: true
length: 4
binary_searches: 5
if_checks: 8
t= 1.8µs

### 4:
passed: true
length: 7
binary_searches: 24
if_checks: 26
t= 3.2µs

### 5:
passed: true
length: 166
binary_searches: 9412
if_checks: 9417
t= 799.7µs

### 6:
passed: true
length: 134
binary_searches: 7812
if_checks: 7833
t= 604.6µs

### BIG:
passed: true
length: 100000
binary_searches: 999890001
if_checks: 999890001
t= 122.3203491s
