### 1:
     passed: true
     length: 4
       time: 19.1µs

### 2:
     passed: true
     length: 5
       time: 2µs

### 3:
     passed: true
     length: 4
       time: 1.6µs

### 4:
     passed: true
     length: 7
       time: 3.4µs

### 5:
     passed: true
     length: 166
       time: 696.2µs

### 6:
     passed: true
     length: 134
       time: 526.5µs

### BIG:
     passed: true
     length: 100000
       time: 233.9352888s

