### 1:
     passed: true
     length: 4
       time: 28.3µs

### 2:
     passed: true
     length: 5
       time: 4.4µs

### 3:
     passed: true
     length: 4
       time: 2.9µs

### 4:
     passed: true
     length: 7
       time: 5.1µs

### 5:
     passed: true
     length: 166
       time: 1.0617ms

### 6:
     passed: true
     length: 134
       time: 1.4371ms

### BIG:
     passed: true
     length: 100000
       time: 154.1804667s

